<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.storyteller.photocraft"
    android:versionCode="1"
    android:versionName="0.5.0">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="34" />

    <!-- Touchscreen and graphics hardware -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:version="1"
        android:required="false" />

    <!-- Storage permissions for importing and saving pictures -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:label="PhotoCraft"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:hasCode="false"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true">

        <activity
            android:name="android.app.NativeActivity"
            android:label="PhotoCraft"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode|density"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="photocraft_android" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

