pkgbase = photocraft-bin
	pkgdesc = Open-source, native image editor that works the way Photoshop users expect (prebuilt)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/storytold/photocraft
	arch = x86_64
	arch = aarch64
	license = MIT OR Apache-2.0
	depends = glibc
	depends = gcc-libs
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = wayland
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxi
	depends = vulkan-icd-loader
	depends = libglvnd
	depends = hicolor-icon-theme
	optdepends = vulkan-driver: GPU compositing through Vulkan
	optdepends = xdg-desktop-portal: native file dialogs
	provides = photocraft
	conflicts = photocraft
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/storytold/photocraft/releases/download/v0.2.0/photocraft-0.2.0-linux-x86_64.tar.gz
	sha256sums_x86_64 = 2d55aed968418447f514ac87e6a3f1eb3df885f0e3b46bc04e54122f52c77430
	source_aarch64 = https://github.com/storytold/photocraft/releases/download/v0.2.0/photocraft-0.2.0-linux-aarch64.tar.gz
	sha256sums_aarch64 = 027e19ddd3581d1ec2e2057d66df51b2a14f6a7354d4ef8d03e48735af60c70e

pkgname = photocraft-bin
